@tailwind base;

html {
  font-size: 80%;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 100%;
  }
}

@tailwind components;

.sidebar {
  width: 14rem;
}
.loader {
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid #000;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

@tailwind utilities;
